{% extends 'pages/richtextpage.html' %}
{% load leaflet_tags %}
{% load mezzanine_tags %}

{% block extra_head %} {{ block.super }}
    {% leaflet_js %}
    {% leaflet_css %}
{% endblock %}

{% block main %}

    <div id="map">
        {% leaflet_map "citymap" %}
    </div>


    <div class="row">

        <div class="span3" id="poi-data">
            {% if selected_poi %}
                <strong>{{ selected_poi.name }}</strong>
            {% else %}
                <strong>Cliquez sur un point pour voir les détails</strong>
            {% endif %}
        </div>

        <div class="span6"id="poi-details">
            {% if selected_poi %}
                {{ selected_poi.description|richtext_filter|safe }}
            {% else %}
                {{ page.richtextpage.content|richtext_filter|safe }}
            {% endif %}
        </div>
    </div>

{% endblock %}

{% block extra_js %} {{ block.super }}
<script type="text/javascript">
function citymapInit(map, bounds) {
    var mapView = new App.Views.MapView({ map: map });
}

var markerCollectionUrl = "{% url 'markers_data' %}";
</script>

<script src="{{ STATIC_URL }}js/underscore.js"></script>
<script src="{{ STATIC_URL }}js/backbone.js"></script>
<script src="{{ STATIC_URL }}js/map/app.js"></script>
{% endblock %}
