{% extends 'pages/richtextpage.html' %}
{% load leaflet_tags %}
{% load mezzanine_tags %}

{% block extra_head %} {{ block.super }}
    {% leaflet_js %}
    {% leaflet_css %}
{% endblock %}

{% block main %}

    <div class="row">
        <div class="span6" id="map">
            {% leaflet_map "citymap" %}
        </div>

        <div class="span3" id="poi-data">
            <strong>Cliquez sur un point pour voir les détails</strong>
        </div>
    </div>

    <div id="poi-details">
        {% editable page.richtextpage.content %}
            {{ page.richtextpage.content|richtext_filter|safe }}
        {% endeditable %}
    </div>
{% endblock %}

{% block extra_js %} {{ block.super }}
<script type="text/javascript">
function citymapInit(map, bounds) {
    {% for poi in pois %}
        L.marker([{{ poi.lat}}, {{ poi.lng }}]).addTo(map).bindPopup("<span>{{ poi.name }}</span>");
    {% endfor %}
}
</script>
{% endblock %}
