{% extends 'pages/richtextpage.html' %}
{% load leaflet_tags %}
{% load mezzanine_tags %}

{% block extra_head %} {{ block.super }}
    {% leaflet_js %}
    {% leaflet_css %}
{% endblock %}

{% block title %}
    {% if selected_poi %}
        {{ selected_poi.name }}
    {% else %}
        {{ page.title }}
    {% endif %}
{% endblock %}

{% block main %}

    <div id="map">
        {% leaflet_map "citymap" %}
    </div>

    <div id="map-data" class="row">

        <div class="span3" id="poi-sidebar">
            {% if selected_poi %}
                <dl>
                    <dt>Lat:</dt>
                    <dd>{{ selected_poi.lat }}</dd>
                    <dt>Lng:</dt>
                    <dd>{{ selected_poi.lng }}</dd>
                </dl>
            {% else %}
                <strong>Cliquez sur un point pour voir les détails</strong>
            {% endif %}
        </div>

        <div class="span6"id="poi-main">
            {% if selected_poi %}
                {{ selected_poi.description|safe }}
            {% else %}
                {{ page.richtextpage.content|safe }}
            {% endif %}
        </div>
    </div>

{% endblock %}

{% block extra_js %} {{ block.super }}
<script src="{{ STATIC_URL }}js/underscore.js"></script>
<script src="{{ STATIC_URL }}js/backbone.js"></script>
<script src="{{ STATIC_URL }}js/map/app.js"></script>

<script type="text/javascript">
{# Pass parameters from python to js #}
App.Config = {
    markerCollectionUrl: "{% url 'markers_data' %}",
    mapUrl: "{% url 'map' %}"
};
function citymapInit(map, bounds) {
    App.start(map);
}
</script>

<script type="text/template" id="poi-sidebar-template">
    <dl>
        <dt>Lat:</dt>
        <dd><%= lat %></dd>
        <dt>Lng:</dt>
        <dd><%= lng %></dd>
    </dl>
</script>
{% endblock %}
